#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* #body-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* #body-image {

  filter: blur(8px);
  -webkit-filter: blur(8px);

} */

.subnav-hero-section {
  text-align: center;
  background-color: rgba(126, 124, 124, 0.9);
  background-size: cover;
  position: relative;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 200px;
}

.subnav-hero-section .subnav-hero-headline {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: bold;
  color: #fefefe;
}
.logo {
  height: 200px;
  width: 200px;
  padding: 20px;
}

.subnav-hero-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
}

.subnav-hero-subnav li {
  float: none;
  display: inline-block;
}

.subnav-hero-subnav li a {
  padding: 0.9rem 1rem;
  font-size: 0.75rem;
  color: #fefefe;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav li a:hover {
  background: rgba(254, 254, 254, 0.15);
}

.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: rgba(126, 124, 124, 0.9);
  padding: 20px;
  color: #fefefe;
  justify-items: center;
  align-items: center;
  margin: 50px auto;
  height: 400px;
}

#text-block {
  max-width: 800px;
  font-size: 150%;
}

.translucent-form-overlay .columns.row {
  display: flexbox;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}
.btn_layout {
  text-align: center;
  flex: auto;
}
#Lbutton {
  align-items: center;
  margin: auto;
  width: 200px;
}
#Rbutton {
  width: 200px;
  margin-left: 20px;
}

.teams {
  text-align: center;
  font-family: "Courier New", Courier, monospace !important;
  width: 900px;
  margin: 0 auto 30px auto;
  overflow: auto;
}
.title {
  font-weight: bolder;
  font-style: italic;
  background-color: rgba(254, 254, 254, 0.8);
}
.team {
  width: 900px;
  margin: 0 auto 30px auto;
  background-color: rgba(54, 54, 54, 0.8);
  color: #fefefe;
  overflow: auto;
  border-radius: 100px;
}
.t {
  color: #fefefe;
}

.team img {
  width: 35%;
  float: left;
}

.team-bio {
  padding: 35px;
  float: left;
  width: 65%;
}

.team-bio h3 {
  font-size: 32px;
  margin-bottom: 8px;
}

.team-bio h4 {
  font-weight: lighter;
  font-size: 26px;
  margin-bottom: 25px;
}

.team-bio p {
  font-size: 17px;
  line-height: 1.3;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

#footer {
  height: 50px;
  color: #fefefe;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.inside {
  background-color: white;
  height: 150px;
}

#wrap {
  padding: 5%;
  text-align: center;
  width: 100%;
}

#left,
#right {
  display: inline-block;
  padding: 2%;
  margin: auto 100px;
}
.hidden {
  display: none !important;
}

.drinks .subnav-hero-section {
  background-color: rgba(54, 54, 54, 0.9) !important;
}

#footer {
  background-color: rgba(54, 54, 54, 0.9) !important;
}

#drinks {
  background-color: rgba(54, 54, 54, 0.8) !important;
}
