* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  max-width: 75% !important;
}
#body-image {
  background-image: url(./images/AU_Image.jpg);
  background-size: cover;
  justify-content: center;
  background-attachment: fixed;
  background-position: 100%;
  width: 100%;
}

.subnav-hero-section {
  text-align: center;
  background-color: rgba(126, 124, 124, 0.9);
  background-size: cover;
  position: relative;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 200px;
}

.subnav-hero-section .subnav-hero-headline {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: bold;
  color: #fefefe;
}
.logo {
  height: 200px;
  width: 220px;
  padding: 35px;
}

.subnav-hero-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.subnav-hero-subnav li {
  float: none;
  display: inline-block;
}

.subnav-hero-subnav li a {
  padding: 0.9rem 1rem;
  font-size: 0.75rem;
  color: #fefefe;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav li a:hover {
  background: rgba(254, 254, 254, 0.15);
}

.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: rgba(126, 124, 124, 0.9);
  padding: 20px;
  color: #fefefe;
  justify-items: center;
  align-items: center;
  margin: 50px auto;
  height: 100%;
}

#text-block {
  max-width: 800px;
  font-size: 150%;
}

.translucent-form-overlay .columns.row {
  display: flexbox;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: black;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}
.btn_layout {
  text-align: center;
  flex: auto;
}
#Lbutton {
  align-items: center;
  margin: auto;
  width: 200px;
}
#Rbutton {
  width: 200px;
  margin-left: 20px;
}
.delete-Btn {
  padding: 05px 10px;
  font-size: 12px;
  background-color: grey;
  font-style: italic;
  border: 2px solid black;
  color: white;
}

.food-item {
  font-weight: bold;
  font-size: 19px;
}
/*had to adjust width and make it a percent*/
.teams {
  width: 80%;
  max-width: 100%;
  text-align: center;
  font-family: "Courier New", Courier, monospace !important;
  margin: 0 auto 30px auto;
  overflow: auto;
}
.title-2 {
  font-weight: bolder;
  font-style: italic;
  background: none !important;
}
.title {
  font-weight: bolder;
  font-style: italic;
  background-color: rgba(254, 254, 254, 0.8);
}

/*had to change the width from 900 px to 100% to match the other pages*/
.team {
  max-width: 100%;
  width: 100%;
  margin: 0 auto 30px auto;
  background-color: rgba(54, 54, 54, 0.8);
  color: #fefefe;
  overflow: auto;
  border-radius: 100px;
}
.t {
  color: #fefefe;
}

.team img {
  width: 35%;
  float: left;
}

.team-bio {
  padding: 35px;
  float: left;
  width: 65%;
}

.team-bio h3 {
  font-size: 32px;
  margin-bottom: 8px;
}

.team-bio h4 {
  font-weight: lighter;
  font-size: 26px;
  margin-bottom: 25px;
}

.team-bio p {
  font-size: x-large !important;
  line-height: 1.3;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

#footer {
  height: 50px;
  color: #fefefe;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.inside {
  background-color: whitesmoke;
  color: black;
  height: 100%;
  min-height: 100px;
}

#wrap {
  padding: 5%;
  text-align: center;
  width: 100%;
}

#left,
#right {
  display: inline-block;
  padding: 2%;
  margin: auto 100px;
}
.hidden {
  display: none !important;
}

.drinks .subnav-hero-section {
  background-color: rgba(54, 54, 54, 0.9) !important;
}

#footer {
  background-color: rgba(54, 54, 54, 0.9) !important;
}

.drink img {
  border-radius: 100%;
}

.drink {
  border-radius: 30%;
  box-shadow: 0px 5px 20px rgb(69, 69, 69);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(54, 54, 54, 0.85);
  align-items: center;
  min-width: 420px;
  min-height: 420px;
  max-width: 420px;
  max-height: 420px;
}
#cont-drink {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#drinks {
  background-color: rgba(54, 54, 54, 0.8) !important;
}
.drink-btn {
  background-color: olivedrab !important;
}

.cellar-btn {
  background-color: #783c1f !important;
}
#cont-recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe li {
  list-style-type: none;
}

.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(69, 69, 69);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(245, 245, 245, 0.9);
  align-items: center;
  min-width: 420px;
  min-height: 420px;
  max-width: 420px;
  max-height: 420px;
}
.title {
  font-weight: bold;
  font-size: large;
  text-decoration-color: inherit;
}

.drink-name {
  color: antiquewhite;
}

.translucent-form-overlay-2 {
  max-width: 500px;
  width: 100%;
  background-color: rgba(126, 124, 124, 0.9);
  padding: 20px;
  color: #fefefe;
  justify-items: center;
  align-items: center;
  margin: 50px auto;
  height: 100%;
}

/*adjusted logo for smaller devices*/
@media screen and (max-width: 1366px) {
  .logo {
    padding: 30px;
    height: 200px;
  }
  .translucent-form-overlay {
    height: 100%;
    width: 100%;
    padding: 60px;
  }
}

.team img {
  border-radius: 30px;
}
@media screen and (max-width: 1025px) {
  .logo {
    padding: 30px;
    height: 200px;
  }

  .team-bio p {
    font-size: 1.5rem;
  }
  .teams {
    width: 100% !important;
  }
  .team {
    width: 100% !important;
  }
}

/*ajusted nave bar for devices of this size*/
@media screen and (max-width: 655px) {
  .logo {
    padding: 35px;
    height: 100%;
  }
  .subnav-hero-subnav {
    margin: -13px;
  }
}
.team-bio p {
  font-size: 1rem !important;
}
@media screen and (max-width: 376px) {
  .logo {
    padding: 30px;
    height: 170px;
    width: 170px;
  }
  .team img {
    border-radius: 200px;
    margin-bottom: 170px;
  }

  .subnav-hero-subnav li a {
    text-transform: none;
    letter-spacing: 0rem;
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
  .translucent-form-overlay {
    height: 100%;
    width: 100%;
    padding: 10px;
  }

  .team {
    height: 50% !important;
    width: 100%;
  }

  .team-bio {
    height: 50%;
  }
  .team-bio h3 {
    font-size: 20px;
  }

  .team-bio p {
    font-size: 0.9rem;
  }

  .team-bio h4 {
    font-size: large;
  }
  .team img {
    margin-top: 150px;
    width: 35%;
  }
}
